# Dependencies
.next
.idea

/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Licensed fonts
.woff2

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Misc
.DS_Store
