.container {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: var(--spacing-48);
  margin-bottom: calc(var(--spacing-64) * 3);
}

.text {
  margin-top: var(--spacing-32);
}

.link {
  color: var(--color-primary-dark);
  transition: var(--transition);
}

@media (max-width: 640px) {
  .container {
    padding: var(--spacing-32);
    margin-bottom: calc(var(--spacing-32) * 2);
  }
}
