.root {
  margin-top: calc(var(--spacing-32) * 3);
  padding: 0 calc(var(--spacing-48) + var(--spacing-4));
  display: grid;
  grid-gap: var(--spacing-48);
  grid-template-columns: 1fr 1fr;
}

.item:last-child {
  text-align: right;
}

.overline {
  font-size: var(--font-size-overline);
  line-height: var(--line-height-overline);
  color: var(--color-grayscale);
  margin-bottom: var(--spacing-4);
  display: block;
}

.link {
  font-size: var(--font-size-subtitle);
  line-height: var(--line-height-subtitle);
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 640px) {
  .root {
    padding: 0;
    margin-top: calc(var(--spacing-32) * 2);
  }
}
