@import 'assets/styles/reset.css';
@import 'assets/styles/variables.css';
@import 'assets/fonts/sneak.css';

body {
  font-family: 'Sneak', Arial, Helvetica, sans-serif;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  background: var(--color-background);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "calt", "ss03";
}

a {
  color: var(--color-text);
  text-decoration: none;
}

::selection {
  background: var(--color-background);
  color: var(--color-primary);
}

.fade-enter {
  opacity: 0;
  transform: translateY(var(--spacing-32));
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity ease-out .4s, transform ease-out .4s;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translateY(var(--spacing-48));
}
